.wrapper {
    max-width: 1000px;
    margin: 20px auto;
}
@media only screen and (max-width: 1040px) {
    .wrapper {
       margin: 20px;
    }
}
.welcome {
    padding: 20px;
    border-radius: 5px;
    background: white;
}
.header {
    font-size: 25px;
    font-weight: 700;
}
.description {
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 400;
}
.button, .nav-auth-status {
    display: inline-block;
    color: white;
    background: #0D6DEB;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    cursor: pointer;
}
.info {
    padding: 20px;
    border-radius: 5px;
    background: white;
}
/* .info::-webkit-scrollbar {
    width: 10px;
}
.info::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(194, 194, 194);
}
.info::-webkit-scrollbar-thumb {
    background: rgb(218, 218, 218); 
    border-radius: 10px;
} */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 490px);
    grid-gap: 20px;
    margin-top: 20px;
}
@media only screen and (max-width: 1040px) {
    .grid-container {
        grid-template-columns: repeat(1, auto);
        width: auto;
    }
}
a {
    text-decoration: none;
}
.button-ext {
    width: 180px;
}
.g-button {
    background: #EfEfEf;
    color: black;
    width: 130px;
}
.class {
    margin: 20px 0px 0px 0px;
    border: 3px solid #EfEfEf;
    border-radius: 5px;
    padding: 20px;
}
.subject {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.desc {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px;
    padding: 0px;
}
.modal-button {
    display: inline-block;
    color: white;
    background: #0D6DEB;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin-right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
.modal-button-gray {
    display: inline-block;
    color: black;
    background: #EfEfEf;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin-right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
.modal {
    border-radius: 5px;
}
.icon {
    background: #EfEfEf;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    padding: 3px;
    cursor: pointer;
}
