/* Navigation Bar */
.navigation {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 55px;
    background: white;
    z-index: 2;
}
.navigation-item {
    display: block;
    text-align: center;
    float: left;
    margin: 14px 16px;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.navigation-item:hover:not(.nav-auth-status) {
    background: rgb(228, 228, 228);
}
.nav-auth-status {
    float: right;
}
a {
    text-decoration: none;
    color: inherit;
}
.wid {
    max-width: 1000px;
    margin: 0 auto;
}