<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
    <link href="{% static 'css/classroom.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Top Navigation Bar -->
    <ul id='main' class="navigation">
      <div class="wid">
        <a href="./"><li class="navigation-item">Home</li></a>
        <a href="./classroom"><li class="navigation-item">Classrooms</li></a>
        {% if first_name %}
        <a href="./logout"><li class="navigation-item nav-auth-status" style="margin-right: 20px">Sign Out</li></a>
        {% else %}
        <a href="./login"><li class="navigation-item nav-auth-status" style="margin-right: 20px">Sign In</li></a>
        {% endif %}
      </div>
    </ul>

    <!-- Main Display -->
    <div class="wrapper">

      {% if first_name %}
      <div class="welcome">
        <div class="header">Create A New Classroom Or Join An Existing Classroom...</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <a href=""><div class="button">Create a Classroom</div></a>
        <a href=""><div class="button">Join a Classroom</div></a>
      </div>
      <div class="grid-container">
        <div class="info">
          <div class="header">Created Classes</div>
        </div>
        <div class="info">
          <div class="header">Joined Classes</div>
        </div>
      </div>
      {% else %}
      <div class="welcome">
        <div class="header">You Must Be Signed In To Access Classrooms...</div>
        <div class="description">Sign in by clicking the sign in button in the top navigation bar.</div>
      </div>
      {% endif %}
      
    </div>

  </body>

</html>
