<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/navigation.css' %}" rel="stylesheet">
    <link href="{% static 'css/classroom.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Top Navigation Bar -->
    <ul id='main' class="navigation">
      <div class="wid">
        <a href="/"><li class="navigation-item">Home</li></a>
        <a href="/classroom"><li class="navigation-item">Classrooms</li></a>
        <a href="/cstask/{{classroom.id}}"><li class="navigation-item">Create a Task</li></a>
        {% if first_name %}
        <a href="/logout"><li class="navigation-item nav-auth-status" style="margin-right: 20px">Sign Out</li></a>
        {% else %}
        <a href="/login"><li class="navigation-item nav-auth-status" style="margin-right: 20px">Sign In</li></a>
        {% endif %}
      </div>
    </ul>

    <!-- Main Display -->
    <div class="wrapper">
    
      <div class="welcome">
        <div class="header">{{ classroom.subject }}</div>
        <div class="description">{{ classroom.name }} - {{ classroom.description }}</div>
      </div>
        {% for task in tasks %}
        <div class="wrapper">
            <div class="welcome">
        <div class="header">{{ task.name }}</div>
        <div class="description">{{ task.description }} <br> {{task.end_date}}</div>
        <iframe src='{{task.keyword}}' frameborder="0"></iframe>
      </div></div>
        {%endfor%}
    

  </body>

</html>
