<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  </head>

  <body>
    {{name}}
  </body>
  <!-- <video width="420" height="315"
  src="{{name}}"> -->

  <iframe width="560" height="315" src="{{name}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</video>

</html>
